<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the project "Reisisoft Adaptive Testing", which is licenced under LGPL v3+. You may find a copy in the source, or obtain one at http://www.gnu.org/licenses/lgpl-3.0-standalone.html-->
<configuration>
 
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>D:\JKU\ce\vaadin\AdaptiveTesting.log</file>
   <param name="Append" value="false" />
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
  </encoder>
  </appender>
  <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
   
  <logger name="AdaptiveTesting" level="INFO"/>
    <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>